<p></p><h1>Kurzfassung:</h1><div><h2><ul><li>hochgradig objektorientiert</li><li>absolut dynamisch typisiert - alles ist ein Objekt</li><ul><li>ermöglicht sog. Metaprogrammierung</li></ul></ul></h2></div><p></p>
