<p></p><h1><ul><li>Für verschiedenen OS unterschiedlich aufwendig</li><ul><li>Bei OS X und den meisten Linux-distros mitgeliefert</li><li>Windows...</li></ul></ul><div><div><br></div></div><div><ul><li>Paketverwaltung</li><ul><li>'gem install ...'</li><li>Gemfile und bundler</li></ul></ul><br></div></h1><p></p>
