<p></p><h1><ul><li>HTML5<br></li><li>CSS</li><li>Javascript</li><ul><li>JQuery</li></ul></ul><div><ul><li>Ruby</li><ul><li>Sinatra</li><ul><li>RESTful API</li></ul></ul><li>flat-file Datenhaltung</li><ul><li>aber relativ dynamisch...</li></ul></ul><br></div></h1><p></p>
