<div id=top>

<ul id="menu">
<table border=0>
<tr>

    <td><li id="oragneFirst"><a href="#">Home</a></li></td>
    <td><li id="blueFirst"><a href="#">Link1</a>
      <ul>
            <li id="middle"><a href="#">Unterlink1</a></li>
            <li id="middle"><a href="#">Unterlink2</a></li>
            <li id="blueLast"><a href="#">Unterlink3</a></li>
      </ul>
    </li></td>
    <td><li id="greenFirst"><a href="#">Link2</a>
      <ul>
            <li id="middle"><a href="#">Unterlink1</a></li>
            <li id="middle"><a href="#">Unterlink2</a></li>
            <li id="greenLast"><a href="#">Unterlink3</a></li>
      </ul>
    </li></td>
	<td><li id="greyFirst"><a href="#">Link3</a>
      <ul>
            <li id="middle"><a href="#">Unterlink1</a></li>
            <li id="middle"><a href="#">Unterlink2</a></li>
            <li id="greyLast"><a href="#">Unterlink3</a></li>
      </ul>
    </li></td>
</tr>
</table>
</ul>

<div id=header>
</div>


</div>



<div id=navigation> 
</div>


<div id=content> 
</div>

<div id=bottom>


<table border=0 class=bottom>
<colgroup>
    <col width="250px">
	<col width="80px">
	<col width="200px">
	<col width="100px">
	<col width="100px">
	<col width="100px">	
  </colgroup>
<tr>
<td colspan=3><b>Webtechnik Group</b></td>
<td rowspan=4 align="right" valign="middle"><a href="http://www.rss-verzeichnis.de/" target=_blank><img class=none src="../images/layout/rss.png"></a></td>
<td rowspan=4 align="center" valign="middle"><a href="http://de-de.facebook.com/" target=_blank><img class=none src="../images/layout/facebook.png"></a></td>
<td rowspan=4 align="left" valign="middle"><a href="https://twitter.com/" target=_blank><img class=none src="../images/layout/twitter.png"></a></td>
</tr>
<tr>
<td>Marvin, Florian und Christoph</td>
<td>Telefon</td>
<td>+49 451-500 5101/5103</td>
</tr>
<tr>
<td>Ratzeburger Allee 160</td>
<td>E-Mail</td>
<td>info@webtechnik-group.de</td>
</tr>
<tr>
<td>D-23562 L&uuml;beck</td>
<td>Web</td>
<td>webtechnik-group.de</td>
</tr>


</table>


</div>