<h1> Dinge die wir noch einbauen sollten</h1>
<ul>
  <li> COOKIES! </li>
  <li> HTML5 Video </li>
  <li> CSS Spielerein, wie Schatten und Spiegelungen </li>
  <li> diese Seite hier dynamisch ändern können
    <ul>
      <li> POST methode auf dem Webserver annehmen, speichern </li>
      <li> vielleicht klein bisschen Authentifizierung </li>
      <li> JS testeditor </li>
    </ul>
  </li>
    
</ul>