body{
  margin: 0;
  font-size:1em;
  font-family:Calibri, Arial;
  background-color:#ccc;
  color: black;
}
a:link {color:#fff;}      /* unvisited link */
a:visited {color:#bbb;}  /* visited link */
a:hover {color:#ccc;}  /* mouse over link */
a:active {color:#fff;}  /* selected link */

#centerbox {
  border: 1px #fff;
  width: 1024px;
  margin-top:-87px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

#headerbg {
background-image: url(../images/layout/top.png); 
background-repeat: repeat-x;
height:87px;
background-color:#aaa;
}

#top {
background-image: url(../images/layout/top.png); 
background-repeat: repeat-x;
height:87px;
padding-top:0px;
margin-top:0px;
background-color:#aaa;
}

#header {
border:0;
background-image: url(/images/layout/header.png); 
background-repeat: no-repeat; 
width:200px; 
height:87px;
margin-top:0px;
margin-left:0px;
float:left;
}

#cats {
margin:0;
padding:0;
list-style-type:none;
line-height:1.5em;
margin-left:250px;
}

#cats ul {
  float: left;
  height: 0px;
  margin-top:17px;
}

li.cattab {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 100px;
  text-align: center;
  list-style-type: none;
  border-style:solid;
  border-width:1px;
  border-color: #ccc;  
  border-bottom-style:none;
  border-radius:10px 10px 0px 0px;
  -moz-border-radius:10px 10px 0px 0px;
  -khtml-border-radius:10px 10px 0px 0px;
  float: left;
}

#pages {
  margin-left:150px;
  margin-top:-30px;
  height: 30px;
  float: none;
}

#content {
  padding: 0px;
  min-height:500px;
}

#bottom {
background-image: url(/images/layout/bottom.png); 
background-repeat: repeat-x;
height:92px;
font-size:12px;	
color:white;
border:0px;
}

#bottombg{
background-image: url(/images/layout/bottom.png); 
background-repeat: repeat-x;
height:92px;
margin-top: -92px;
}

table.bottom{
margin-left:90px;
border:0px;
padding-top:10px;
}

img.none{
border-top: solid #000000 0px;	
border-left: solid #000000 0px;
border-right: solid #000000 0px;
border-bottom: solid #000000 0px;
}	
